{% extends "basic.html" %}
{% load custom_filters %}
{% load static %}
{% block content %}
    <title>{{user.username}}</title>
    <style>
      body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
       
}
.def-color
{
  color: #0D13A1;

}
.def-bg
{
  background-color: #0D13A1;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color:#fff;
    border-radius: .25rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0D13A1;
}
.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-link {
    color: #4a5568;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
a {
    color:#0D13A1;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color:#0D13A1;
    text-decoration: none;
    background-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.main-body {
    padding: 15px;
}

.nav-link {
    color: #4a5568;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.profile-pic
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  width:100%;
  height: 100%;
}
.profileimg
{
  height:168px;
  width: 168px;
  border-radius:50%;
}
.trans
{
  transition:ease 0.5s all;
}

    </style>
  </head>
  <body>
    
    <div class="container">
      
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb bg-dark">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
    

      <div class="row gutters-sm">
        <div class="col-md-4 ">
          <div class="card mb-2 ">
            <div class="card-body">
              <div class="wrapper">
                <div class="profile-pic">
                  <div class="dropdown">
                 <img  src="{{user.profile.profilePic.url}}" id="profilepic" class="img-fluid profileimg trans"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" onclick="updateProfilePic()"><i class="fa  fa-cloud-upload"></i> <span class="def-color">Upload Profile Picture</span></a>
                  <a class="dropdown-item" href="#" id="viewimage"><i class="fa fa-eye"></i> <span class="def-color">Viewe Profile Picture</span></a>
                  
                </div>
                </div>
                </div>
                <div class="name text-center">
                  <h6 id='full-name-display'>{{user.first_name|default:user.username}} {{user.last_name}} 
                    {{user.profile.num_followers}}  
                  </h6>
                </div>
                <div class="bio">
                  <p class="text-muted text-center">{{user.profile.bio|default:'NOT SET'}}</p>
                </div>
              </div>
            </div>
          </div><!--profile detail card one-->
          <div class="d-none d-md-block">
          <div class="card">
            <div class="card-body">
              <nav class="nav flex-column nav-pills nav-gap-y-1">
                <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                  <i class="fa fa-user-circle feather feather-shield mr-2" style="width: 24px;height:24px;"></i>Basic Information
                </a>
                <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fa fa-info-circle feather feather-shield mr-2" style="width: 24px;height:24px;"></i>About You
                </a>
                {% if user|user_in_group:"Offerer" %}
                <a href="#company" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fa fa-info-circle feather feather-shield mr-2" style="width: 24px;height:24px;"></i>Your Company
                </a>
                {% endif %}
              </nav>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header border-bottom mb-3 d-flex d-md-none">
              <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                <li class="nav-item">
                  <a href="#profile" data-toggle="tab" class="nav-link has-icon active"><i class="fa fa-user-circle feather feather-shield" style="width: 24px;height:24px;"></i></a>
                </li>
                <li class="nav-item">
                  <a href="#account" data-toggle="tab" class="nav-link has-icon"><i class="fa fa-info-circle feather feather-shield " style="width: 24px;height:24px;"></i></a>
                </li>
                <li class="nav-item">
                  <a href="#security" data-toggle="tab" class="nav-link has-icon"><i class="fa fa-user-lock feather feather-shield " style="width: 24px;height:24px;"></i></a>
                </li>
                {% if user.is_superuser%}
                <li class="nav-item">
                  <a href="#notification" data-toggle="tab" class="nav-link has-icon"><i class="fa fa-bell feather feather-shield" style="width: 24px;height:24px;"></i></a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a href="#billing" data-toggle="tab" class="nav-link has-icon"><i class="fa fa-coins feather feather-shield mr-2" style="width: 24px;height:24px;"></i></a>
                </li>
              </ul>
            </div>
            <div class="card-body tab-content" >
              <div class="tab-pane active" id="profile">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                <h6 class="def-color">YOUR BASIC INFORMATION</h6>
               
                <button class="btn def-bg text-white text-right" onclick="viewBasicInfo('{{user.first_name}}','{{user.last_name}}','{{user.email}}','{{user.username}}')"><i class="fa fa-pen-fancy"></i></button>
              </div>
                <hr>
                <table class="table table-borderless">
                  <tr>
                    <th>First Name</th>
                    <td>
                       <span id='fn-display'>{{user.first_name|default:'NOT SET'}}</span>
                     
                    </td>
                    
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td>
                      <span id='ln-display'>{{user.last_name|default:'NOT SET'}}</span>
                      
                    </td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>
                      
                      <span id='em-display'>{{user.email|default:'NOT SET'}}</span>
                    </td>
                    
                  </tr>
                  <tr>
                    <th>Username</th>
                    <td>
                      <span id='un-display'>{{user.username}}</span>
                    </td>
                  </tr>
                </table>
               
                  
                
              </div>
              <div class="tab-pane" id="account">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <h6 class="def-color">USER  DETAILS</h6>
                  <button class="btn def-bg text-white text-right" onclick="updateProfileModelOpner('{{user.profile.bio}}','{{user.profile.phone}}')" ><i class="fa fa-pen-fancy"></i></button>
                </div>
                <hr>
                <table class="table table-borderless">
                  <tr>
                    <th>Bio</th>
                    <td id="bioShow">
                       {{user.profile.bio|default:'NOT SET'}}
                     
                    </td>
                    
                  </tr>
                  <tr>
                    <th>Mobile Number</th>
                    <td id="mobileShow">
                      {{user.profile.phone|default:'NOT SET'}}
                      
                    </td>
                  </tr>
                  <tr>
                    
                </table>
               
                  
              </div>
              <div class="tab-pane" id="company">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                <h6>Your Company</h6>
                <button class="btn def-bg text-white text-right" onclick="updateCompanyModelOpner('{{user.profile.company_name|default:"NOT SET"}}','{{ user.profile.description|default:"NOT SET" }}')" ><i class="fa fa-pen-fancy"></i></button>
                </div>
                <hr>
                <table class="table table-borderless">
                  <tr>
                    <th>Company Name</th>
                    <td id="nameShow">
                       {{user.profile.company_name|default:'NOT SET'}}
                     
                    </td>
                    
                  </tr>
                  <tr>
                    <th>Description</th>
                    <td id="descShow" class="text-muted text-justify">
                      {{user.profile.description|default:'NOT SET'}}
                      
                    </td>
                  </tr>
                  <tr>
                    
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="container" style="margin-top:50px; margin-bottom: 10px; ">
      <h6 style="margin: 10px 0;">Your Events</h6>
      <div class="row">
          
        {% for e in events %}
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" >
          <div class="card " >
             
              <div class="card-body" >
                <h5 class="card-title">{{ e.name }}</h5>
                <p class="card-text" style="font-size: 9pt; text-align: justify; min-height: 75px; max-height:75px; overflow-y: auto;">{{ e.description }}</p>
                <p class="card-text " style="font-size: 9pt;"><i class="fa-solid fa-location-dot text-danger" ></i>{{ e.location }}</p>
                <div class="d-flex justify-content-between" >
                  <button class="btn btn-sm btn-primary "  style="width: 100%; margin-right:2px;" onclick="viewparti({{e.pk}})">view Participants</button>
                <a href="{% url 'remove_event' e.pk %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
                
              </div>
              <div class="card-footer bg-white" style="border-top: none;">
                <span class="text-center">
                 <span class="text-muted">Booked:</span> 
                 <span>{{ e.num_likes }}</span>

                 <span class="text-muted">Remaining:</span> 
                 <span>{{ e.remain }}</span>
                 </span>
              
              </div>
            </div><!--End of card-->
      </div><!--End of col-->
      {% endfor %}

         




          



         


          
      </div><!--End of row-->
  </div><!--End of container-->
 

  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      
      <strong class="me-auto">Notification</strong>
      <small class="text-muted">Now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
     Event has bee deleted!
    </div>
  </div>








   <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script type="text/javascript" src="{% static 'js/jquery.toastx.js' %}"></script>
   <!-- Option 2: Separate Popper and Bootstrap JS -->
   <!--
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
   -->

  <!--custom script-->
   <script>
     $(document).ready(function(){
      {% if messages %}
      {% for message in messages %}
      swal("Success!", "Event has been deleted", "success");
      {% endfor %}
        
      {% endif %}
     
  $('#viewimage').click(function(){
  
   var path=""; 
   path=$('#profilepic').attr('src')  
    $('#imageViewer').attr('src',path);
   $('#viewImageModal').modal('show')
  });//view image click

  $('#update_user_info_form').submit(function(e){
    e.preventDefault();
   
   
    var fn=$('#user_first_name').val()
    var ln=$('#user_last_name').val()
    var em=$('#user_email').val()
    var un=$('#user_username').val()
    $.ajax({
      type:"POST",
      url:"{%url 'update_info' %}",
      data:{fn:fn,ln:ln,em:em,un:un},
      dataType:"JSON",
      beforeSend:function()
      {
        var elem='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
        $('#basic_info_update_btn').html(elem);
        $('#basic_info_update_btn').attr('disabled','disabled');
        
      },
      success:function(res)
      {
        if(res.status=='1')
        {
         $('#full-name-display').html(res.obj.firstName+' '+res.obj.lastName)
         $('#fn-display').html(res.obj.firstName);
         $('#ln-display').html(res.obj.lastName);
         $('#em-display').html(res.obj.email);
         $('#un-display').html(res.obj.uname);
         swal("Success!", "Updated Successfully!", "success");
         $('#basic_info_update_btn').html('Save Changes');
         $('#basic_info_update_btn').removeAttr('disabled');
         $('#basic_info').modal('hide');
        }
      }
    });
  });  //end of basic info updation
  
  //start of profile bio,mobile number updation
       
    $('#update_user_profile').submit(function(e){
    e.preventDefault();
   
   
    var bio=$('#user_bio').val()
    var mb=$('#user_mbn').val()
    
    $.ajax({
      type:"POST",
      url:"{%url 'update_profile' %}",
      data:{bio:bio,mb:mb},
      dataType:"JSON",
      beforeSend:function()
      {
        var elem='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
        $('#basic_profile_update_btn').html(elem);
        $('#basic_profile_update_btn').attr('disabled','disabled');
        
      },
      success:function(res)
      {
        if(res.status=='1')
        {
         
         $('#bioShow').html(res.obj.bio);
         $('#mobileShow').html(res.obj.mobile);
         swal("Success!", "Updated Successfully!", "success");
         $('#basic_profile_update_btn').html('Save Changes');
         $('#basic_profile_update_btn').removeAttr('disabled');
         $('#profile_info').modal('hide');
        }
      }
    });
  });  //end of basic info updation
  
       
       
  $('#update_user_profilePicture').submit(function(e){
    e.preventDefault();
    if($('#picInput').val()=='')
    {
      alert('Please Select Some Picture');
    }
    else
    {
       var f= $('#update_user_profilePicture')
       var form=new FormData(f.closest('form').get(0))
       $.ajax({
        url: "{% url 'update-pic' %}",
        type: 'POST',
        data: form,
        contentType: 'multipart/form-data',
        processData: false,
        contentType: false,
        beforeSend:function()
      {
        var elem='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> uploading...';
        $('#image_update_btn').html(elem);
        

      },
        success:function(res)
        {
         if(res.status=='1')
         {
          $('#profile-pic-update-model').modal('hide');
          setInterval(function(){$('#profilepic').attr('src',res.img);},1000);
          $('#image_update_btn').html("Save Changes");
         
          $.toast({'message':'Profile Picture Changed','top': '80%'}).show();
         }
        }
       });//end of ajax
    }
  });//end of profile picture update

  $('#update_user_company').submit(function(e){
    e.preventDefault();
   
   
    var cname=$('#company_val').val()
    var pd=$('#profile_description').val()
    
    $.ajax({
      type:"POST",
      url:"{%url 'update_company' %}",
      data:{company_name:cname,profile_description:pd},
      dataType:"JSON",
      beforeSend:function()
      {
        var elem='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
        $('#company_update_btn').html(elem);
        $('#company_update_btn').attr('disabled','disabled');
        
      },
      success:function(res)
      {
        if(res.status=='1')
        {
         
         $('#nameShow').html(res.obj.name);
         $('#descShow').html(res.obj.description);
         swal("Success!", "Updated Successfully!", "success");
         $('#company_update_btn').html('Save Changes');
         $('#company_update_btn').removeAttr('disabled');
         $('#company_info').modal('hide');
        }
      }
    });
  });  //end of basic info updation
 
});








function viewBasicInfo(first_name,last_name,[email],username)
{
  if(first_name=='')
  {
    $('#user_first_name').attr('placeholder','Not Set Yet...');
  }
  else
   $('#user_first_name').attr('value',first_name);

   if(last_name=='')
  {
    $('#user_last_name').attr('placeholder','Not Set Yet...');
  }
  else
   $('#user_last_name').attr('value',last_name);

   if(email=='')
  {
    $('#user_email').attr('placeholder','Not Set Yet...');
  }
  else
   $('#user_email').attr('value',email);

  


   $('#user_username').attr('value',username);
  $('#basic_info').modal('show');
}

function updateProfilePic()
{
 
  $('#profile-pic-update-model').modal('show')
}
     
     
function updateProfileModelOpner(bio,mb)
{
   $('#user_bio').val(bio)
  $('#user_mbn').val(mb)
  $('#profile_info').modal('show')
}

function updateCompanyModelOpner(name,des)
{
   $('#company_val').val(name)
  $('#profile_description').val(des)
  $('#company_info').modal('show')
}

function viewparti(id)
{
  $.ajax({
      type:"POST",
      url:"{%url 'viewe_parti' %}",
      data:{event_id:id},
      dataType:"JSON",
      beforeSend:function()
      {
        var elem='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...';
        $('#basic_profile_update_btn').html(elem);
        $('#basic_profile_update_btn').attr('disabled','disabled');
        
      },
      success:function(res)
      {
        $('#participants_response').html(res.status);
      }
    });
  $('#participants_viewe').modal('show')
}

function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
   </script>
  <!--custom script-->

<!--End of models-->
    <!--model for update profile picture-->
    <div class="modal fade" id="basic_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title def-color" id="exampleModalLongTitle">BASIC INFORMATION</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id='update_user_info_form' name='update_user_info_form' method='POST' >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">First Name</label>
                  <input type="text" class="form-control"   id="user_first_name" name="user_first_name"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Last Name</label>
                  <input type="text" class="form-control" id="user_last_name" name="user_last_name"/>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="user_email" name="user_email"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Username</label>
                  <input type="text" class="form-control" id="user_username" name="user_username" />
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100" id="basic_info_update_btn" >Save Changes</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    
     <!--model for update profile picture-->
    <div class="modal fade" id="profile_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title def-color" id="exampleModalLongTitle">BASIC INFORMATION</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id='update_user_profile' name='update_user_info_form' method='POST' >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Bio</label>
                  <input type="text" class="form-control"   id="user_bio" name="user_bio"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Mobile No.</label>
                  <input type="text" class="form-control" id="user_mbn" name="user_bio"/>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary w-100" id="basic_profile_update_btn" >Save Changes</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    
    
    
    <!--model for update profile picture-->
    <div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Profile Picture</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <img id="imageViewer" style="width:100%; height:100%;" class="img-fluid">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn def-bg w-100 text-white" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

   <!--update profile picture modal-->
    <div class="modal fade" id="profile-pic-update-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title def-color" id="exampleModalLongTitle">CHANGE PICTURE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12">
               <div style="display: block; justify-content: center; align-items: center;">
                <center>
                <img src="{%static 'img/def.jpg' %}" class="img img-fluid" id='blah' style="width: 168px; height:168px; border-radius:50%;" />
              </center> 
              </div>
              </div>
              
            </div>
            <form id='update_user_profilePicture' name='update_profilePictur' method='POST' enctype="multipart/form-data" >
              
              <div class="form-row">
                <div class="form-group col-md-12">
                  
                  <input type="file" id="picInput" name='profilePic' class="form-control" onchange="readURL(this);" />
                </div>
                
              </div>
              
              <button type="submit" class="btn btn-primary w-100" id="image_update_btn" >Save Changes</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <!--toasts-->


     <!--model for update profile picture-->
     <div class="modal fade" id="participants_viewe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title def-color" id="exampleModalLongTitle">All Participants</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" >
            <ul class="list-group list-group-flush" id="participants_response">
              
              
            </ul>
          </div>
          
        </div>
      </div>
    </div>





    <!--model for update profile picture-->
    <div class="modal fade" id="company_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title def-color" id="exampleModalLongTitle">Company INFORMATION</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id='update_user_company' name='update_company_info_form' method='POST' >
              
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Company Name</label>
                  <input type="text" class="form-control"   id="company_val" name="company_val"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Profile Description</label>
                  <input type="text" class="form-control" id="profile_description" name="profile_description"/>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary w-100" id="company_update_btn" >Save Changes</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>

{% endblock %}
