{% extends "basic.html" %}
{% load custom_filters %}
{% load static %}
{% block content %}
  {% csrf_token %}
  <!-- ======= Hero Section ======= -
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    
      <div class="" style="margin-top:150px;margin-bottom:150px;">
        <div class="row">
         
          
            <div class="col-md-5 col-12 mx-auto  ">
             <div class="text-center"> <i class="fa-solid fa-user-lock fa-3x mb-3 text-center"></i></div>
             
              <form method="POST" class="signup-form">
                <div class="sf-input-list">
                  {%csrf_token%}
                  {{form.as_p}}
                <button type="submit" class="btn btn-success text-left w-100"><span>Login</span></button>
                
              </form>
              <div class="d-flex align-items-center justify-content-between mt-3" style="height: 60px;">
                <div class="d-flex align-items-center mt-3" style="height: 60px;">
                  <a class="nav-link"href="{%url 'reset_pasword'%}">Forget Password</a>
                </div>
                <div class="d-flex align-items-center mt-3" style="height: 60px;">
                  <h6 class="mx-1">Don't have account? </h6> <a class="nav-link"href="{%url 'register'%}">SignUp</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <!-- Sign Up Section End -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script>
        $(document).ready(function(){
        $("#id_username").attr('placeholder', 'Enter Your Email');
        $("#id_password").attr('placeholder', '{{form.password.label}}');
       
        $("#id_first_name").attr('placeholder', '{{form.first_name.label}}');
        $("#id_last_name").attr('placeholder', '{{form.last_name.label}}');
        $("#id_email").attr('placeholder', '{{form.email.label}}');
        $("#id_password1").attr('placeholder', 'Password');
        $("#id_password2").attr('placeholder', 'Confirm Password');
        $('.errorlist').attr('class','alert alert-danger')
        $("#id_username").addClass('form-control')
        $("#id_password").addClass('form-control')
        $("#id_first_name").addClass('form-control')
        $("#id_last_name").addClass('form-control')
        $("#id_email").addClass('form-control')
        $("#id_password1").addClass('form-control')
        $("#id_password2").addClass('form-control')
        
       
        $('label').css('display','none')
        $('.helptext').css('display','none')
    });
   </script>
{% endblock %}




